/* CSS Reset by Andy Bell */
/* https://hankchizljaw.com/wrote/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

// variables
$heading-color: hsl(300, 43%, 22%);
$hero-text-color: hsl(300, 43%, 22%);
$buyer-card-color: hsl(300, 43%, 22%);
$background-color: hsl(0, 0%, 100%);
$accent-color: hsl(333, 80%, 67%);
$font-family: 'League Spartan', sans-serif;
// end of variables

// styles
body {
    background-color: $background-color;
    font-family: $font-family;
}

.hero__heading {
    color: $heading-color;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 0.85;
    margin: 5.3rem auto 1.5rem auto;
    max-width: 15ch;
    text-align: center;
}

.hero__text {
    color: $hero-text-color;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.4;
    margin: auto;
    max-width: 32ch;
    text-align: center;
}